@import "compass";

$skin-name: "nx" !default;

.wf2-skin-#{$skin-name} {

  .{{appName}} {
    // your code here
    .hero-unit {
      color: green;
    }
    // .container-row{
    //   &.odd {
    //     background-color: red;
    //   }
    //   &.even {
    //     background-color: #eee;
    //   }
    // }
    .container-body-head-left {
      font-weight: bold;
    }
    .container-body-content-left {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
