@import "compass";

$skin-name: "nx" !default;

.wf2-skin-#{$skin-name} {

  .{{appName}} {
    .hero-unit {
      color: green;
    }
    .container-body-content {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .container-row {
      li {
        padding: 10px;
        overflow: hidden;
        &.odd {
          background-color: #f6f6f6;
        }
        .label-column {
          font-weight: bold;
          font-size: 16px;
        }
        .exceptions {
          color: #0955a7;
        }
      }
    }
    .container-footer-link {
      font-size: 12px;
    }
  }
}
