package com.wellsfargo.wria2.fedtools.demo;

import junit.framework.Assert;
import org.junit.Test;

/**
 * Test cases to our {@link Spy} will greet correctly.
 */
public class SpyTest {


  @Test
  public void greetWithoutMartini() {

    Spy spy = new Spy("James","Bond");
    String greeting = spy.greet(false);
    Assert.assertEquals("Bond . James , Bond. Martini please", greeting);
  }

  @Test
  public void greetWithMartini() {

    Spy spy = new Spy("James","Bond");
    String greeting = spy.greet(true);
    Assert.assertEquals("Bond . James , Bond. Thanks", greeting);
  }

}
