<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>The job request has been scheduled successfully!</h3>
    <p>Here is a summary of this request</p>
    <p><strong>User fork</strong>: {{username}}</p>
    <p><strong>WF-RIA branch</strong>: {{wriaBranch}}</p>
    <p><strong>YUI branch</strong>: {{yuiBranch}}</p>
    <br/>
    <p>{{msg}}</p>
    <p>Thanks!</p>
    <p>The Fedtools team</p>
  </body>
</html>
