<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      .code {
        display: block;
        padding: 0.5em;
        color: #000;
        background-color: #f8f8ff;
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    {{> header}}
    {{msg}}
    {{> footer}}
  </body>
</html>
