<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      .code {
        display: block;
        padding: 0.5em;
        color: #000;
        background-color: #f8f8ff;
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    {{> header}}
    <h3>Your job request has started!</h3>
    <p>Here is a summary of this request:</p>

    <div class='code'>
      <p><strong>User fork</strong>: {{username}}</p>
      <p><strong>WF-RIA branch</strong>: {{wriaBranch}}</p>
      <p><strong>YUI branch</strong>: {{yuiBranch}}</p>
    </div>

    <p>It should be done in as little as 8 minutes or as long as 45 minutes...</p>
    <p>You will receive a confirmation email once the job is complete.</p>
    {{> footer}}
  </body>
</html>
