<!DOCTYPE html>
<html>
  <head>
    <title>My Title</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="mycss.css">
  </head>
  <body>

    <%@include file="../flow1/page1.jsp" %>
    <%@include file="../common/footer.jsp" %>


    <script src="http://laptop.wellsfargo.com:3000/build/yui/yui-min.js"></script>

  </body>
</html>
