/**
 * This is the description for my class.
 *
 * @class Main
 * @constructor
 */
var Main = function(config) {
  this.config = config;
  return this;
};

/**
 * My method description.  Like other pieces of your comment blocks,
 * this can span multiple lines.
 *
 * @method log
 * @param {String} foo Argument 1
 * @param {Object} config A config object
 * @param {String} config.name The name on the config object
 * @param {Function} config.callback A callback function on the config object
 * @param {Boolean} [extra=false] Do extra, optional work
 * @return {Boolean} Returns true on success
 */
Main.prototype.log = function(foo, config, extra) {

  return this.config.name;

};
