{
  "shifter": {
    "fail": true
  },
  "name": "{{moduleName}}",
  "exec": ["../../../build/lib/wf2-compass.js"],
  "builds": {
    "{{moduleName}}": {
      "jsfiles": [
        "js/{{moduleName}}.js"
      ]
    }
  }
}
