{
  "name": "webapp",
  "repository":"https://wf.com/webapp",
  "description":"A prototype for maven / frontend build system",
  "version": "0.0.1",
  "devDependencies": {
    "grunt": "~0.4.1",
    "grunt-cli": "~0.1.9",
    "grunt-contrib-concat":"~0.3.0",
    "grunt-jsbeautifier":"~0.2.3",
    "grunt-contrib-clean":"~0.5.0",
    "grunt-contrib-jshint":"~0.7.2",
    "grunt-contrib-uglify":"~0.2.7",
    "grunt-markdown":"~0.4.0"
  },
  "js": {
    "src":"src/main/js",
    "testsrc":"src/test/js",
    "buildmin":"target/js/build-min",
    "buildmod":"target/js/build-mod",
    "apidocs":"target/site/jsdocs/api",
    "docsrc":"src/site/js",
    "docdest":"target/site/jsdocs"
  }
}
