YUI.add('module-tests', function(Y) {

  var suite;

  suite = new Y.Test.Suite('{{moduleName}}');

  suite.add(new Y.Test.Case({
    name: 'Basic API Tests',

    setUp: function() {
      this.m = new Y.WF2.{{className}}();
    },

    tearDown: function() {
      this.m.destroy();
      delete this.m;
    },

    'testInstantiation': function() {
      Assert.isTrue(this.m instanceof Y.WF2.{{className}});
    }
  }));

  Y.Test.Runner.add(suite);

});
