## maven site index.html

maven site index

    public static void main(String[] args) {

      // some code

    }


### js links

<a href="jsdocs/api/index.html">js api docs</a>
<a href="jsdocs/index.html">js docs</a>