.DS_Store
.*.swp
.svn
*~
.com.apple.timemachine.supported
npm-debug.log
tmp
*.sublime-workspace
*.sublime-project
.sass-cache

node_modules
node
target
src/main/webapp/resources/build
src/main/css/assets
