{{#widget}}
{
  "{{moduleName}}": {
    "requires": [
      "base-build",
      "wf2-base-css",
      "widget"
    ],
    "skinnable": true
  }
}
{{/widget}}

{{^widget}}
{
  "{{moduleName}}": {
    "requires": [
      "yui-base"
    ]
  }
}
{{/widget}}
