YUI().use('wf2-app-nav', function (Y) {

  var appNav = new Y.WF2.AppNav({
    srcNode: '#app-nav-container'
  }),
    footer = new Y.WF2.Footer({
      srcNode: '#{{appName}}-footer'
    });

  appNav.render('#app-nav');
  footer.render();
});
