{
  "shifter": {
    "lint": false
  },
  "name": "common",
  "builds": {
    "common1": {
      "jsfiles": [
        "js/common1-a.js",
        "js/common1-b.js"
      ]
    },
    "common2": {
      "jsfiles": [
        "js/common2-a.js",
        "js/common2-b.js"
      ]
    }
  }
}
