<%@ taglib uri="http://www.springframework.org/tags" prefix="s"%>
<%@ taglib uri="http://wellsfargo.com/wt2" prefix="wt2"%>

<div class="{{appName}}" style="visibility:hidden;">

  <div class="wf2-g-r" id="grids">
    <div class="wf2-tablet-small-1 wf2-tablet-1 wf2-tablet-landscape-2 wf2-desktop-3">
      <div class="wf2-u">
        <div id="ipp" class="wf2-container-loading account-balances wf2-container-theme-portal">
          <div class="yui3-widget-hd">
            <div class="primary">
              <div class="label"><s:message code="affair.positivepay"/></div>
            </div>
          </div>
          <div class="yui3-widget-bd">
            <ul id="acct-balances-data" class="container-row">
              <li class="line-item">
                <div class="label-column left">
                  <div class="label exceptions">6 <s:message code="affair.exceptions"/></div>
                </div>
                <div class="label-column right">
                  <div class="balance">$2430.00</div>
                </div>
              </li>
              <li class="line-item">
                <div>4 due in 3 hrs 10 min</div>
                <div>1 due in 4 hrs 10 min</div>
                <div>1 due in 5 hrs 10 min</div>
              </li>
              <li class="line-item">
                <div class="container-body-content-alert left"></div>
                <div class="left"> 150 of 200 <s:message code="affair.accountshaveprocessed"/></div>
                <div class="clear"></div>
              </li>
            </ul>
          </div>
          <div class="yui3-widget-ft">
            <a href="#" class="container-footer-link">
              <s:message code="affair.addcheckissues"/>
            </a>
          </div>
        </div>
      </div>

      <div class="wf2-u">
        <div id="ach" class="wf2-container-loading account-balances wf2-container-theme-portal">
          <div class="yui3-widget-hd">
            <div class="primary">
              <div class="label">
                <s:message code="affair.achexceptions"/>
              </div>
            </div>
          </div>
          <div class="yui3-widget-bd">
            <ul id="acct-balances-data" class="container-row">
              <li class="line-item">
                <div class="label-column left">
                  <div class="label exceptions">5 <s:message code="affair.exceptions"/></div>
                </div>
                <div class="label-column right">
                  <div class="balance">$600.00 DR</div>
                  <div class="balance">$84.00 CR</div>
                </div>
              </li>
              <li class="line-item">
                <div>1 due in 10 hrs 10 min</div>
                <div>4 due in 34 hrs 10 min</div>
              </li>
            </ul>
          </div>
          <div class="yui3-widget-ft">
            <a href="#" class="container-footer-link">
              <s:message code="affair.managepreauth"/>
            </a>
            <span  class="container-footer-link">&nbsp;|&nbsp;</span>
            <a href="#" class="container-footer-link">
              <s:message code="affair.viewstoppeditems"/>
            </a>
          </div>
        </div>
      </div>

      <div class="wf2-u">
        <div id="rpp" class="wf2-container-loading account-balances wf2-container-theme-portal">
          <div class="yui3-widget-hd">
            <div class="primary">
              <div class="label">
                <s:message code="affair.rpp"/>
              </div>
            </div>
          </div>
          <div class="yui3-widget-bd">
            <ul id="acct-balances-data" class="container-row">
              <li class="line-item">
                <div class="label-column left">
                  <div class="label exceptions">20 <s:message code="affair.suspectedpayments"/></div>
                </div>
                <div class="label-column right">
                  <div class="balance">$600.00</div>
                </div>
              </li>
              <li class="line-item odd">
                <div class="label-column left">
                  <div class="label exceptions">265 <s:message code="affair.payments"/></div>
                </div>
                <div class="label-column right">
                  <div class="balance">$2650.00</div>
                </div>
              </li>
              <li class="line-item">
                <div class="label-column left">
                  <div class="label exceptions">12 <s:message code="affair.latepostedpayments"/></div>
                </div>
                <div class="label-column right">
                  <div class="balance">$250.00</div>
                </div>
              </li>
              <li class="line-item">
                <div class="container-body-content left">
                  <div><s:message code="affair.decisionduein"/> 3 hrs 10 min</div>
                </div>
              </li>
            </ul>
          </div>
          <div class="yui3-widget-ft">
            <a href="#" class="container-footer-link">
              <s:message code="affair.searchthesepayments"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<wt2:script src="build/common-bootstrap-min.js"/>
<wt2:script src="build/{{flowName}}-bootstrap-min.js"/>
