{
    "name"       : "wf2-arno-widget",
    "displayName": "Gallery: wf2-arno-widget",
    "description": "*Summary Goes Here*",
    "author"     : [ "aversini" ],
    "use"        : [ "wf2-arno-widget" ],

    "tags": [ "gallery" ],

    "examples": []
}
