/**
 * Provides the `{{namespace}}.{{className}}` module.
 *
 * @class {{className}}
 * @extends {Widget}
 * @module {{moduleName}}
 * @namespace {{namespace}}
 */

Y.namespace('{{namespace}}').{{className}} = Y.Base.create(
  '{{baseName}}', Y.Widget, [], {
    initializer: function (config) {

    },
    bindUI: function () {

    },
    syncUI: function () {

    },
    destructor: function () {

    }
  }, {
    CSS_PREFIX: CSS_PREFIX,
    ATTRS: {

    },
    HTML_PARSER: {

    }
  }
});
