/**
 * Provides the `{{namespace}}.{{className}}` module.
 *
 * @class {{className}}
 * @extends {{moduleExtends}}
 * @module {{moduleName}}
 * @namespace {{namespace}}
 */

var CSS_PREFIX = '{{moduleName}}';

Y.namespace('{{namespace}}').{{className}} = Y.Base.create(
  '{{baseName}}', {{moduleExtends}}, [], {
    initializer: function () {

    },
    bindUI: function () {

    },
    syncUI: function () {

    },
    destructor: function () {

    }
  }, {
    CSS_PREFIX: CSS_PREFIX,
    ATTRS: {

    },
    HTML_PARSER: {

    }
  }
);
