// Forcing the name of the skin class
$skin-name: "nxt";

// Overriding some properties
// your overrides here

// Finally loading the nx skin definition
@import "../nx/common-css-skin.scss";

.webapp {
  // specific code for NXT here
}
