package com.wellsfargo.wria2.fedtools.demo;

/**
 * @author comstona
 * @version 0.0.1
 * @since 0.0.1
 *
 * Contain information and behavior about a Spy.
 */
public class Spy {

  private final String firstname;

  private final String lastname;

  /**
   * Constructor to create a new person.
   *
   * @param firstname the person's firstname
   * @param lastname the person's lastname
   */
  public Spy(final String firstname, final String lastname) {
    this.firstname = firstname;
    this.lastname = lastname;
  }


  /**
   * Greet a Spy, optionally offering a martini and get a response.
   *
   * @param martini are you offering a martini
   * @return The greeting message from the spy
   */
  public String greet(boolean martini) {

    return String.format("%s . %s , %s. %s",
      lastname,
      firstname,
      lastname,
      martini ? "Thanks" : "Martini please");
  }

  /**
   *
   * @return the firstname of the spy
   */
  public String getFirstname() {
    return firstname;
  }

  /**
   *
   * @return the lastname of the spy
   */
  public String getLastname() {
    return lastname;
  }
}
