home.welcome=I am a msg in /WEB-INF/i18n/messages.properties. The messages.properties file loaded via com.wellsfargo.wria2.fedtools.config.WebMvcConfig#configureMessageSource

affair.positivepay=Positive Pay
affair.exceptions=exceptions
affair.accountshaveprocessed=accounts have processed
affair.addcheckissues=Add check issues
affair.achexceptions=ACH Exceptions
affair.managepreauth=Manage preauthorization
affair.viewstoppeditems=View stopped items
affair.rpp=Reverse Positive Pay
affair.suspectedpayments=suspected payments
affair.payments=payments
affair.latepostedpayments=late posted payments
affair.decisionduein=Decisions due in
affair.searchthesepayments=Search these payments
