<%@ taglib uri="http://www.springframework.org/tags" prefix="s"%>
<%@ taglib uri="http://wellsfargo.com/wt2" prefix="wt2"%>

<div class="{{appName}}">
  <div class="hero-unit">
    <p>
      Flow {{flowName}}, Page 1
    </p>
  </div>
</div>

<wt2:script src="build/common-bootstrap-min.js"/>
<wt2:script src="build/{{flowName}}-bootstrap-min.js"/>
