{
  "shifter": {
    "fail": true
  },
  "name": "{{name}}",
  "exec": ["../../../build/lib/wf2-compass.js"],
  "builds": {
    "{{name}}": {
      "jsfiles": [
        "js/{{name}}.js"
      ]
    }
  }
}
