{
  "shifter": {
    "lint": false
  },
  "name": "flow1",
  "builds": {
    "page1": {
      "jsfiles": [
        "js/page1-a.js",
        "js/page1-b.js"
      ]
    },
    "page2": {
      "jsfiles": [
        "js/page2-a.js",
        "js/page2-b.js"
      ]
    }
  }
}
