/*
 * This file is used to load modules that are needed
 * for the flow called {{flowName}}
 */

YUI().use('wf2-gridsmanager', 'wf2-container', 'wf2-button', 'wf2-cssrgrids','{{appName}}', function (Y) {
  var i, gridManager,
    containerNodes = ['#ipp', '#ach', '#rpp'],
    len = containerNodes.length;

  for (i = 0; i < len; i += 1) {
    new Y.WF2.Container({
      theme: Y.WF2.Container.THEMES.PORTAL,
      srcNode: containerNodes[i]
    }).render();
  }

  Y.one('.container-body-content-alert').addClass(Y.WF2.ICONS.SMALL.WARNING.className);

  // Instantiate 'GridsManager' for auto height-adjustment.
  gridManager = new Y.WF2.GridsManager({
    gridsContainer: '#grids'
  });

  if (gridManager) {
    Y.one('.{{appName}}').setStyle('visibility', 'visible');
  }
});
