### JS Documentation

Author markdown documentation in the ```src/site/js``` directory and it will
be converted to html during the maven site lifecycle or can be executed manually
with ```mvn fedtools:docs```

    YUI().use('mymod' function(Y) {

      //some code here

    });