{
  prev_month_label: "Go to previous month",
  month_select_label: "Select month",
  year_select_label: "Select year",
  monthYear_select_label: "Select month and year",
  next_month_label: "Go to next month"
}
